<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <mat-form-field class="detail" appearance="outline">
      <mat-label for="search-box">Name</mat-label>
      <input matInput id="hero-name" [(ngModel)]="hero.name" placeholder="name"  autocomplete="off">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="goBack()" >Go Back</button>
  <button mat-raised-button color="primary" (click)="save()" >Save</button>
</div>
