<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <mat-form-field appearance="outline">
      <mat-label>Hero name: </mat-label>
      <input matInput [(ngModel)]="hero.name" placeholder="name">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button class="clear"
    (click)="goBack()">Go Back</button>
    <button mat-raised-button class="clear"
    (click)="save()">Save</button>
  </div>

</div>
