<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <mat-form-field appearance="outline">
    <mat-label for="new-hero">Hero</mat-label>
    <input matInput  id="new-hero" #heroName autocomplete="off">
  </mat-form-field>
</div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color="primary" class="add-button" (click)="add(heroName.value); heroName.value = ''" >Add Hero</button>

<mat-list role="list" class="heroes">
  <mat-list-item role="listitem" *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <mat-icon matSuffix title="delete hero" class="icon-delete" (click)="delete(hero)">delete</mat-icon>
  </mat-list-item>
</mat-list>