<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <!-- <mat-form-field appearance="outline">
    <mat-label for="search-box">Hero Search</mat-label>
    <input matInput #searchBox id="search-box" (input)="search(searchBox.value)" >
  </mat-form-field> -->
  
  <ul class="search-result">
    <mat-list role="list" class="search-result">
      <mat-list-item class="lines" role="listitem" *ngFor="let hero of heroes$ | async"><button mat-button  routerLink="/detail/{{ hero.id }}">{{ hero.name }}</button></mat-list-item>    
    </mat-list>
  </ul>
  </div>
